.building h1,
.house h1,
.flat h1 {
  color: rgb(92, 218, 19);
  font-size: 40px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.building p,
.house p,
.flat p {
  font-size: 20px;
  font-family: sans-serif;
  text-align: justify;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
}
.pic {
  text-align: center;
  padding-bottom: 50px;
}
.pic img {
  width: 50%;
  margin: 10px auto;
  box-shadow: 10px 10px 10px rgb(179, 177, 177);
  padding-bottom: 40px;
}

.building,
.house,
.flat {
  position: relative;
}

.button {
  position: fixed;
  left: 40px;
  top: 440px;
}
.button button {
  background-color: rgb(10, 95, 10);

  border-radius: 20px;
}

.button a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(204, 238, 13);
  padding: 10px 20px;
}
/* ================================================================ */

.leftlink a img {
  width: 12%;
}
.leftlink {
  display: flex;
}
.leftlink li {
  list-style: none;
  text-align: center;
}
.link-building {
  display: flex;
  width: 60%;
  height: 60px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.808);
  margin-bottom: 50px;
  justify-content: space-around;
  align-items: center;
}
